<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
    <!-- newly added by salekin for ServiceReference, normally automatically created when ServiceReferece is added-->
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="basicHttpBindingSOAP" />
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://localhost/WcfServer/WcfServer.svc/soap"
          binding="basicHttpBinding" bindingConfiguration="basicHttpBindingSOAP"
          contract="ServiceReference.IWcfServer" name="basicHttpBindingSOAP" />
      </client>
    </system.serviceModel>
  
    <appSettings>
  <!--<add key="WCf_SERVER" value="http://localhost:4372/WcfServer.svc" /> -->
      <add key="WCF_SERVER" value="http://localhost/WcfServer/WcfServer.svc" />     <!--for iis hosting-->  
    </appSettings>
</configuration>